<!DOCTYPE html>
<html>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
    <body>
    <%- include('./includes/header') %>
        <div class="mdui-container ">
                <div class="mdui-row">
                        <div class="mdui-col-md-8 mdui-col-offset-md-2 mdui-m-t-1">
                         
                            <%- include('./includes/indexlist') %>
                            <%- include('./includes/fenye') %>

                        </div>
                      </div>
              </div>
    <%- include('./includes/footer') %>
    </body>
</html>